.row
	p @{{productItems}}
	p @{{year}}
	.col-md-12
		.articles(v-for='article in articles')
			.col-md-4
				.articles__item
					h3.articles__item--title
						a(:href='article.titleLink' target='blank' class='articles_item--title--link' v-text='article.title')

					.articles__item--link
						a(:href='article.productLink' target='_blank')
							img(:src='article.imgURL' alt='Product image' class="articles__item--link--image")

					.articles__item--details
						p.articles__item--details--text(v-text='article.description')

				.articles__footer
					.articles__footer--price $ @{{ article.price }}

					.articles__footer--cta
						a(:href='article.buttonLink' class='articles__footer--cta--link' role='button') It's a bargain