doctype html

//-Default Pug markup with Blade syntax
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='content-type' content='text/html; charset=utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='apple-moblie-web-app-capable' content='yes')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		meta(name='description' content='')
		meta(name='author' content='Goran Radmanovic')
		meta(name='robots' content='index, follow, all')
		meta(name='keywords' content='')
		meta(name='csrf-token' content='{{ csrf_token() }}' id='token')
		link(rel='icon' href="{{ asset('images/favicon/favicon.ico') }}" type='image/x-icon')
		link(rel='stylesheet' href="{{ asset('css/style.css') }}")
		title @yield('title')

	body
		
		div(id='app' v-cloak)

			include partials/errors.pug
			
			include partials/navigation.pug
			
			include partials/commercials.pug
			
			.container-fluid

				| @yield('content')

				include partials/footer.pug

	script(async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBR0QW9UO-pxwG163r8SJQ0awbiIqJM3ks")
	script(src="{{ asset('js/app.js') }}")