$primary-color: #F6C
//$text-color: #2E2D33
$text-color: #000

$accent-color: #000
$bg-color: #e9ebee
$bg-color-content: #F0F0F0
$bg-color-sidebar: #E3E6EB
$bg-color-white: #FFFFFF
$link-color: #000
$selection-color: #FFF498

//Text colors
$text-color-white: #FFFFFF
$text-color-gray: #465a6d
$text-color-slategray: #839aaf
$text-color-red: #f21b23
$text-color-black: #000000
$text-color-contac-gray: #373D3F

//Scrollerbar bg color
$bg-color-scrollerbar: #414753

//Border gray
$border-color-gray: #465a6d
$border-contact-color-gray: #DADEDF

//Border spinner color
$border-color: #f3f3f3
$border-color-top: #00b1b3

//Nav variables
$bg-color-nav: #323A45
$bg-color-nav-hover: #00b1b3
$bg-color-nav-toggle: #327177
$bg-color-nav-active: #14B9D6

//Contact vatiables
//$bg-color-contact: #eaeaea
$bg-color-contact: #F2F3F4

//Footer variables
$bg-color-footer: #323A45 //#4D545D #414753
$text-color-footer-hover: #E0E0E0

//CTA button color
$cta-color: #01a8d4

//Error message color & Succes message color
$error-color: #DD6B55
$warning-color: #DAA520
$success-color: #00b1b3