$primary-color: #F6C
//$text-color: #2E2D33
$text-color: #000
$accent-color: #000
$bg-color: #e9ebee
$bg-color-content: #F0F0F0
$bg-color-sidebar: #E3E6EB
$bg-color-footer: pink
$link-color: #000
$selection-color: #FFF498

//Nav variables
$bg-color-nav: #323A45 //Or this #4D545D
$bg-color-nav-hover: #00b1b3
$bg-color-nav-toggle: #327177
$bg-color-nav-active: #14B9D6