.main__menu
	margin-top: 0
	padding: 0

	.navbar-default
		background-color: $bg-color-nav
		border-top: 2px solid $bg-color-nav-hover
		border-radius: 0

		.navbar-toggle
			background-color: $bg-color-nav-hover
			border-color: white

			.icon-bar
				background-color: white

		.navbar-header

			.navbar-brand
				padding: 5px

				.brand__img
					display: inline-block
					width: 42px
					height: 42px
					background:
						image: url('../images/logo/logo2.png')
						size: cover
						repeat: no-repeat

		.navbar-collapse

			.nav.navbar-nav

				//Dropdown menu (override bootsrap)
				.open > a, .open > a:hover, .open > a:focus
					background-color: $bg-color-nav-hover

				.dropdown-menu
					background-color: $bg-color-nav

				.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
					background-color: $bg-color-nav-hover

				ul.dropdown-menu li:hover
					background-color: $bg-color-nav-hover

			ul.nav.navbar-nav li

				&:hover
					background-color: $bg-color-nav-hover

			ul.nav.navbar-nav li a
				color: white
				text-transform: uppercase
				font-weight: 800

				//&:active
					//background-color: $bg-color-nav-active

				//&:focus
					//background-color: $bg-color-nav-active

			.navbar-form
				width: 35%

				@media only screen and (max-width: 1024px)
					width: 70%

				@media only screen and (max-width: 960px)
					width: 100%

				@media only screen and (max-width: 640px)
					width: 100%

				@media only screen and (max-width: 320px)
					width: 100%

				.form-group
					width: 100%
					
					.form-control
						width: 100%
						border-radius: 3px
						background-image: url('../images/icons/magnifying-glass.svg')
						background-position: 5px 5px
						background-repeat: repeat-y
						padding-left: 35px

					.btn-default
						height: 34px
						background-color: $bg-color-nav-hover
						color: white
						border: none
						border-radius: 0
						font-weight: 800
						text-transform: uppercase

						&:hover
							background-color: $bg-color-nav-active

					.form__search
						position: absolute
						top: 50px
						left: 55%
						right: 0
						z-index: 1
						width: 31.1%
						padding: 0
						margin: 0
						border-radius: 3px
						background-color: white
						box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4)

						@media only screen and (max-width: 2560px)
							width: 33%
							left: 27.2%

						@media only screen and (max-width: 1440px)
							width: 31.5%
							left: 45.2%

						@media only screen and (max-width: 1280px)
							width: 31%
							left: 51.5%

						@media only screen and (max-width: 1024px)
							width: 63%
							top: 100px
							left: 4.5%

						@media only screen and (max-width: 960px)
							width: 88%
							top: 100px
							left: 6%

						@media only screen and (max-width: 640px)
							width: 85.5%
							top: 320px
							left: 4%
							font-size: 1em

						@media only screen and (max-width: 375px)
							width: 84%

						@media only screen and (max-width: 320px)
							width: 82%

						+modifier('list')
							height: 50px
							padding: 2px
							list-style-type: none

							+modifier('results')
								width: 100%
								font-size: 1.2em
								font-weight: 500
								background-color: $bg-color

								&:hover
									background-color: darken($bg-color, 2%)

								@media only screen and (max-width: 640px)
									font-size: 1em

								@media only screen and (max-width: 375px)
									font-size: .9em

								@media only screen and (max-width: 375px)
									font-size: .7em

								+modifier('image')
									width: 45px
									height: 45px
									margin-right: 10px
									cursor: pointer

								+modifier('link')
									cursor: pointer

//When nav tab is active
.active
	background-color: $bg-color-nav-active

.flash
	animation: errorMessageAnimation 400ms ease-in forwards

.flash
	//animation: hideErrorMessageAnimation 5s ease-in forwards

//Error message animation
@keyframes errorMessageAnimation
	0%
		opacity: 0.3
		transform: scale(0.5)
	50%
		opacity: 0.6
		transform: scale(1.4)
	100%
		opacity: 1
		transform: scale(1)


@keyframes hideErrorMessageAnimation
	0%
		opacity: 1
	50%
		opacity: 1
	100%
		opacity: 0
		display: none

