.main__menu
	margin-top: 0
	padding: 0

	.navbar-default
		background-color: $bg-color-nav
		border-top: 2px solid $bg-color-nav-hover
		border-radius: 0

		.navbar-toggle
			background-color: $bg-color-nav-toggle
			border-color: white

			.icon-bar
				background-color: white

		.navbar-header
			.navbar-brand
				padding: 5px

				.brand__img
					display: inline
					width: 100px
					height: 30px

		.navbar-collapse
			.nav.navbar-nav
				.dropdown.open
					background-color: red

				.dropdown-menu
					background-color: $bg-color-nav

				ul.dropdown-menu li:hover
					background-color: $bg-color-nav-hover

			ul.nav.navbar-nav li.active a
				background-color: $bg-color-nav-active

			ul.nav.navbar-nav li
				&:hover
					background-color: $bg-color-nav-hover

			ul.nav.navbar-nav li a
				color: white
				text-transform: uppercase
				font-weight: 800

			.navbar-form

				.form-control
					border-radius: 0

				.btn-default
					height: 34px
					background-color: $bg-color-nav-hover
					color: white
					border: none
					border-radius: 0
					font-weight: 800
					text-transform: uppercase

					&:hover
						background-color: $bg-color-button-hover