.row
	footer.footer
		.col-md-12
			.col-md-4
				.footer__text Follow

				.footer__social
					a(href='#' class="footer__social--link footer__social--link--fb")
					a(href='#' class="footer__social--link footer__social--link--tw")
					a(href='#' class="footer__social--link footer__social--link--in")
					a(href='#' class="footer__social--link footer__social--link--li")

			.col-md-8
				.footer__nav
					a(href='#' class="footer__nav--link") Privacy
					a(href='#' class="footer__nav--link") Terms
					a(href='#' class="footer__nav--link") Disclaimer
					a(href='#' class="footer__nav--link") Site Map
					a(href='#' class="footer__nav--link") Contac Us

				.footer__form
					h3.footer__form--title Subscribe
					//-  v-on:submit='submitSubscribeEmail'
					form(action="{{ url('/') }}" method='post' autocomplete='off' class='form-inline footer__form--inline' id='subscribeForm' v-on:submit='submitSubscribeEmail') 
						.form-group
							input(type='email' name='subscribeEmail' placeholder='Email Address' class='form-control footer__form--email' v-model='email' value="{{ old('email') }}")
							input(type='submit' value='Submit' class='footer__form--btn')
							//- Cross Site Request Forgery Field
							| {{ csrf_field() }}

						//- Fallback displaying error message with balde
						| @if (count($errors) > 0)
						| 	<ul class="footer__form--defaulterror">
						| 		@foreach ($errors->all() as $error)
						| 			<li class="text-danger">{{ $error }}</li>
						| 		@endforeach
						| 	</ul>
						| @endif

		.col-md-12
			.footer__copy
				span.footer__copy--info Designed and developed by 
					a(href='http://www.goranradmanovic.byethost13.com/' class='footer__copy--info--link' target='_blank') Goran Radmanovic.
				span.footer__copy--info  &copy; 2017 My Company - All rights reserved

	a(href="#" class='scrollToTop' title='Scroll To Top' alt='Scroll To Top' role='button')