footer.footer
	.col-md-12
		.col-md-4
			.footer__social
				span Follow

				a(href='#' class="footer__social--link footer__social--link--fb")
				a(href='#' class="footer__social--link footer__social--link--tw")
				a(href='#' class="footer__social--link footer__social--link--in") Instagram
				a(href='#' class="footer__social--link footer__social--link--li") Linkedin

		.col-md-8