footer.footer
	.col-md-12
		.col-md-4
			.footer__text Follow

			.footer__social
				a(href='#' class="footer__social--link footer__social--link--fb")
				a(href='#' class="footer__social--link footer__social--link--tw")
				a(href='#' class="footer__social--link footer__social--link--in")
				a(href='#' class="footer__social--link footer__social--link--li")

		.col-md-8
			.footer__nav
				a(href='#' class="footer__nav--link") Privacy
				a(href='#' class="footer__nav--link") Terms
				a(href='#' class="footer__nav--link") Disclaimer
				a(href='#' class="footer__nav--link") Site Map

			.footer__nav--contact
				h3 Concat Us