.row
	footer.footer
		.col-md-12
			.col-md-4
				.footer__text Follow

				.footer__social
					a(href='#' class="footer__social--link footer__social--link--fb")
					a(href='#' class="footer__social--link footer__social--link--tw")
					a(href='#' class="footer__social--link footer__social--link--in")
					a(href='#' class="footer__social--link footer__social--link--li")

			.col-md-8
				.footer__nav
					a(href='#' class="footer__nav--link") Privacy
					a(href='#' class="footer__nav--link") Terms
					a(href='#' class="footer__nav--link") Disclaimer
					a(href='#' class="footer__nav--link") Site Map
					a(href='#' class="footer__nav--link") Contac Us

				.footer__form
					h3.footer__form--title Subscribe
					form(action='' method='post' autocomplete='off' class='form-inline footer__form--inline')
						.form-group
							input(type='email' placeholder='Email Address' class='form-control footer__form--email')
							input(type='submit' value='Submit' class='footer__form--btn')

		.col-md-12
			.footer__copy
				span.footer__copy--info Designed and developed by 
					a(href='http://www.goranradmanovic.byethost13.com/' class='footer__copy--info--link' target='_blank') Goran Radmanovic.
				span.footer__copy--info  &copy; 2017 My Company - All rights reserved