menu.main__menu
	nav.navbar.navbar-default
		.container-fluid
			//- Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="{{ url('/') }}")
					span(class='brand__img')
			//- Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav
					//- Looping thru all categories
					li(v-for='categorie in categories')
						//- Displaying category link with path and id and link name
						a(:href="'/pages/category/' + categorie.id" v-bind:data-id='categorie.id' v-text='categorie.category_name')
							//- Screen readers only (display category name)
							span.sr-only(v-text='categorie.category_name')

					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| More
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Action
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li.divider(role='separator')
							li
								a(href='#') Separated link
							li.divider(role='separator')
							li
								a(href='#') One more separated link
								
				form.navbar-form.navbar-left
					.form-group
						input.form-control(type='text' placeholder='Search' v-model='query' v-on:keyup='search')
						| {{ csrf_field() }}

						ul.form__search(v-if="searchProducts")
							li(v-for='searchProduct in searchProducts' class="form__search--list")
								.form__search--list--results
									a(:href='searchProduct.product_link' class="form__search--list--results--link")
										img(:src="searchProduct.img_url" class="form__search--list--results--image")

									a(:href='searchProduct.product_link' v-text='searchProduct.title' class="form__search--list--results--link")

					//-.alert.alert-danger(role='alert' v-if='error')
						span(class='glyphicon glyphicon-exclamation-sign' area-hidden='true') @{{ error }}
						//-button.btn.btn-default(type='submit' v-on:click='search()') Search

				ul.nav.navbar-nav.navbar-right
			
					li.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
							| Dropdown 
							span.caret
						ul.dropdown-menu
							li
								a(href='#') Action
							li
								a(href='#') Another action
							li
								a(href='#') Something else here
							li.divider(role='separator')
							li
								a(href='#') Separated link