menu(class='main__menu')
	nav(class='navbar navbar-default')
		.container-fluid
			.navbar-header
				button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1' aria-expanded='false')
					span(class='sr-only') Toggle navigation
					each val in ['icon-bar', 'icon-bar', 'icon-bar']
						span(class=val)

				a(class='navbar-brand nopadding' href='')
					img(class='brand-img' src='' alt='Brand image')

		.collapse.navbar-collapse(id='bs-example-navbar-collapse-1')
			ul(class='nav navbar-nav')
				li(class='active')
					a(href='#') Home
						span(class='sr-only') (current)
				li
					a(href='#') Moctha
				li
					a(href='#') Fitness Gear
				li
					a(href='#') Food Supplements

			form(action='' method='' target='_blanck' autocomplete='off' class='navbar-form navbar-left' role='search')
				.form-group
					input(type='text' name='' class='form-control' placeholder='Search')
					button(type='submit' class='btn btn-default') Search

			ul(class='nav navbar-nav navbar-right')
				li
					a(href='#') Sign Up
				li
					a(href='#') Sign In
				li
					a(href='#') Sign Out
